body {
    margin: 0;
    padding: 0;
    background-color: #ECDCC4;
    font-weight: 400;
}

nav {
    background-color: #DDC35D;
}

.list-group {
}

.list-group-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff6dd;
}

.logoImg {
    width: 40px;
    margin: 0 10px 0 0;
}

.headNomination {
    background-color: #DDC35D;
    text-decoration: none !important;
    text-align: center;
}

form {
    margin: 0 auto;
    border-radius: 10px;
    background-color: #DDC35D;
    max-width: 400px;
    border: 1px solid #342E27;
}

.center {
    display: flex;
    justify-content: center;
}

.buttonSuccess {
    background-color: #8E1533;
    border-color: #342E27;
}


input {
    border-color: #342E27;
}

.navbar-nav {
    margin-left: 20px;
}

sm {
    color: #86213D;
}

.mt {
    padding-top: 70px;
}

.list-group-item.active {
    background-color: #86213D;
    border-color: #8E1533;
}

.list-group-item:first-child {
    text-decoration: revert;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff6dd;
    width: 100%;
}

.card-image {
    display: flex;
    padding: 0;
}

footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    height: 56px;
    background-color: #DDC35D;
    width: 100%;
}

footer div {
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

footer div p {
    margin: 0;
}

.container {
    padding-bottom: 50px;
}

.page-item .page-link {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    background: #fff6dd;
    color: #86213D;
}

.active .page-link {
    background-color: #DDC35D !important;
    color: #86213D !important;
}

.disabled .page-link {
    background-color: #DDC35D !important;
    color: #86213D !important;
}

.page-item .next:hover {
    transition: transform .3s;
    transform: scale(1.05);
}

.page-item .next {
    z-index: 10;
    transition: transform .3s;
    transform: scale(1);
}

/*#342E27*/
/*#DEA81C*/
/*#ECDCC4*/
/*#8E1533*/
