/*Поменять цвет*/
body {
    margin: 0;
    padding: 0;
    /*background-color: #24375A;*/
    background-color: #1C313A;
    font-weight: 400;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*Поменять цвет*/
nav {
    color: #ffefcf;
    padding: 30px 100px !important;
    transition: all .3s;
    transition-property: padding, background-color
}

.nav-link {
    color: #ffefcf !important;
}

.enthusiast {
    color: #ef6f94;
}

.nav-link:hover {
    color: white !important;
}

.nav-item {
    padding: 0 30px;
}

.navbar-scroll {
    background-color: #4f8088;
    padding: 15px 100px !important;
    transition: all .3s;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
}

.list-group {
}

.list-group-item {
    background-color: transparent;
    color: white;
    border: 5px solid #4F8088;
}

.list-group-item:last-child {
    border-radius: 0 0 15px 15px;
}

.list-group-item:hover {
    background-color: #294755;
    color: #ffefcf;
}

.list-group-item:first-child {
    color: white;
    background-color: #4F8088;
    text-decoration: none !important;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.list-group-item:first-child:hover {
    color: #ffefcf;
    background-color: #5fa0a0;
}

.logoImg {
    width: 40px;
    margin: 0 10px 0 0;
}

form {
    margin: 0 auto;
    border-radius: 10px;
    background-color: #4F8088;
    max-width: 400px;
    border: 1px solid #342E27;
}

.center {
    display: flex;
    justify-content: center;
}

.buttonSuccess {
    background-color: #1c313a;
    box-shadow: none !important;
    border: none !important;
}

.buttonSuccess:hover {
    background-color: #fff1d8 !important;
    color: black !important;
}

.buttonSuccess:focus {
    background-color: #fff1d8 !important;
    color: black !important;
}

.buttonUnder {
    background-color: #4F8088;
    box-shadow: none !important;
    border: none !important;
    margin: 0 auto;
}

.buttonUnder:hover {
    background-color: #fff1d8 !important;
    color: black !important;
}

.buttonUnder:focus {
    background-color: #fff1d8 !important;
    color: black !important;
}

input {
    border: none !important;
    background-color: #fff1d8 !important;
}

input:focus {
    box-shadow: none !important;
    border: none !important;
}

select {
    border: none !important;
    background-color: #fff1d8 !important;
}

select:focus {
    box-shadow: none !important;
    border: none !important;
}

.navbar-nav {
    margin-left: 20px;
}

.padding-top {
    padding-top: 100px;
    padding-bottom: 50px;
}

.list-group-item.active {
    background-color: #86213D;
    border-color: #8E1533;
}

.list-group-item:first-child {
    text-decoration: revert;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff6dd;
    width: 100%;
}

.card-image {
    display: flex;
    padding: 0;
}

.alert-danger {
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    margin-bottom: 0;
}

footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    height: 56px;
    background-color: transparent;
    color: #ffefcf;
    width: 100%;
    transition: background-color .3s;
}

.footer-scroll {
    background-color: #4f8088;
    transition: background-color .3s;
}

footer div {
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

footer div p {
    margin: 0;
}

.button-navbar {
    transition: background-color .5s;
    background-color: #4f8088;
    border-radius: 15px;
    padding: 10px 15px;
    color: white !important;
    width: 85px;
    text-align: center;
}

.button-navbar:hover {
    color: #ffefcf !important
}

.but-end a {
    transition: background-color .5s;
    background-color: #1c313a !important;
}

.nav-end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container {
    max-width: 90%;
}

.single-container {
    transition: padding .5s;
    max-width: 940px;
    padding: 0 100px;
    margin: auto;
}

.contains {
    min-width: 400px;
    max-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-contains {
    justify-content: space-around;
}

.page-item .page-link {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    background: #fff6dd;
    color: #86213D;
}

.active .page-link {
    background-color: #DDC35D !important;
    color: #86213D !important;
}

.disabled .page-link {
    background-color: #DDC35D !important;
    color: #86213D !important;
}

.page-item .next:hover {
    transition: transform .3s;
    transform: scale(1.05);
}

.page-item .next {
    z-index: 10;
    transition: transform .3s;
    transform: scale(1);
}

.block-result-right {
    justify-content: space-between;
    display: flex;
}

.block-result-right img {
    height: 80px;
}

.block-result-right .svg-result {
    height: 35px;
}

.block-result-right div {
    align-items: center;
    display: flex;
}

.block-result-left p, h5, small, span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.custom-file-label {
    background-color: #fff1d8 !important;
    border: none;
}

.custom-file-label::after {
    background-color: #1c313a;
    height: 100%;
    color: white;
}

.custom-file-input {
    padding-top: 6px;
    height: 30px;
}

form {
    max-width: 500px !important;
}

.container-profile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-profile {
    margin: 10px;
}

.content-profile {
    height: 100%;
    display: grid;
}

.block-side {
    width: 25%;
    min-width: 20%;
}

.block-center {
    min-width: 30%;
    width: 40%;
}

.bottom-container-profile {
    height: 100px;
    margin: 10px;
    background-color: grey;
}


.content-profile .contains {
    min-width: 0;
    max-width: 100%;
}

.list-group-item-profile {
    padding: 0;
}

.nomination-block {
    text-align: center;
    font-weight: 600;
    border-right: 5px solid #4F8088;
    display: grid;
    align-items: center;
    padding: 0;
}

.profile-block-item {
    display: flex;
    justify-content: space-evenly;
}

.content-profile .content-profile-info, .content-profile-image {
    display: flex;
    white-space: normal;
    text-overflow: ellipsis;
}

.content-profile img {
    max-height: 95%;
    max-width: 200px;
    border-radius: 0 25px 25px 0;
}

.content-profile-image {
    height: 100%;
    display: flex;
    align-items: center;
}

.content-profile-info ul {
    list-style: none;
    padding: 5px;
    color: #ffefcf !important;
}

.row-result {
    margin: auto 0;
}

.col-9 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-group-item-profile h4 {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
