@media (max-width: 1400px) {
    .container-profile {
        display: inherit;
    }

    .block-profile {
        margin: 30px auto;
    }

    .block-center, .block-side {
        min-width: 0;
        max-width: 70%;
        width: auto;
    }

    .info-block {
        padding: 15px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .content-profile-info {
        align-items: center;
    }

    .content-profile img {
        border-radius: 25px;
    }

    .bottom-container-profile {
        padding: 0;
    }

    .status-block {
        border-radius: 15px 15px 15px 0;
        margin: 0;
    }

    .top-block-hardware {
        display: flex;
        justify-content: space-between;
    }

    .block-button-status {
        position: relative;
    }
}

@media (max-width: 991px) {
    nav {
        background-color: #4F8088;
        padding: 0.5rem 1rem !important;
    }

    .padding-top {
        padding: 70px 20px !important;
    }

    .navbar-nav {
        padding-left: 0;
    }

    .block-result-right .block-none {
        display: none;
    }

    .block-result .col-4, .col-8 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .block-center, .block-side {
        max-width: 100%;
    }

    .top-block-hardware {
        flex-wrap: wrap;
    }

    .block-button-status {
        width: 100%;
    }

    .block-button-status-child {
        margin: 0 auto;
    }

    .status-block {
        border-radius: 15px 15px 0 0;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .single-container {
        transition: padding .5s;
        padding: 0 30px;
    }

    .contains {
        min-width: 250px;
    }

    .info-block {
        display: grid;
    }

    .content-profile-info {
        text-align: center;
    }

    .info-block .content-profile-info, .content-profile-image {
        margin: 0 auto;
    }

    .single-container {
        padding: 0;
    }

    .content-profile img {
        max-width: 100%;
    }

    .admin-panel {
        margin-top: 0;
    }
}

@media (max-width: 510px) {
    .status-block {
        border-radius: 15px 15px 0 0;
        width: 100%;
    }

    .bottom-block-profile {
        border-radius: 0;
    }

    .block-button-status {
        height: auto;
    }

    .button-status {
        margin: 10px 0;
        width: 100%;
        height: 50px;
    }

    .block-button-status-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-admin-panel {
        max-width: 300px;
    }

    .top-block-user span {

    }

    .index-user {
        padding: 0;
    }
}

@media (max-width: 374px) {
    .block-result .block-result-left {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .block-profile {
        padding-right: 0;
        padding-left: 0;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;
    }

    .block-profile {
        margin: 0;
        padding: 10px 0;
    }
}
